{% extends "base.html" %}
{% block title %}"THE" Dashboard{% endblock %}
{% block content %}


    <style>
        body {
            font-family: Arial;
        }

        /* Style the tab */
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            padding: 14px 16px;
            transition: 0.3s;
            font-size: 17px;
        }

        /* Change background color of buttons on hover */
        .tab button:hover {
            background-color: #ddd;
        }

        /* Create an active/current tablink class */
        .tab button.active {
            background-color: #ccc;
        }

        /* Style the tab content */
        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }
    </style>

    <div class="body row"><!-- TABLE -->#}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Actions</th>

            </tr>
            </thead>
            <tbody>
            {% for class in all_yard %}
                <tr>
                    <td>{{ class.id }}</td>

                    <td>{{ class.Description }}</td>

                    <td>
                        <a href="{% url 'add_to_yard' pk=class.pk selected_id=selected_student.pk %}">add to
                            classroom</a>
                    </td>

                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


{% endblock %}
